@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");
* {
  font-family: "Nunito Sans", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #fafafa;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  font-weight: 800;
  box-shadow: 0 1px 10px 0px hsl(0, 0%, 89%);
  margin-bottom: 50px;
  padding: 30px 0;
  background-color: white;
  z-index: 10000000;
  position: relative;
}

nav > h1 {
  font-size: 18px;
  margin-left: 100px;
  background-color: inherit;
  font-weight: 900;
}
.button {
  background-color: white;
  display: flex;
  margin-right: 100px;
}

.button svg {
  width: 20px;
  margin-right: 5px;
  background-color: white;
}
.button button {
  border: none;
  background-color: inherit;
  font-size: 14px;
  font-weight: 600;
  cursor: inherit;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.countryCards {
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
  justify-content: flex-start;

  margin: 0 0 3rem 6rem;
  /* padding: 0 0 0 60px; */
}

.card,
.card-demo {
  width: 17.5rem;
  height: 22.9375rem;
  max-width: 300px;
  background-color: white;
  border-radius: 10px;
  margin-bottom: 20px;
  cursor: pointer;
  transition: scale ease-in-out 0.2s, box-shadow ease-in-out 0.25s;
}
.card b {
  background-color: inherit;
}
.card:hover {
  scale: 1.07;
  box-shadow: 0 0 25px 0 hsl(0, 0%, 88%);
}

.card-demo {
  animation: pulse 1.5s infinite;
}

.flag {
  width: 100%;
  height: 45%;
  border-radius: 10px 10px 0 0;

  background-color: hsl(0, 0%, 82%);
}
.card-demo .text {
  color: hsl(0, 0%, 80%);
}
.card-demo > .text h1 {
  background-color: hsl(0, 0%, 80%);
}
.card-demo > .text p {
  background-color: hsl(0, 0%, 80%);
}

.text {
  background-color: white;
  margin: 25px 0 0 30px;
}
.text h1 {
  width: 80%;
  font-size: 20px;
  font-weight: 800;
  background: inherit;
  padding-bottom: 20px;
}
.text p {
  width: 80%;
  background-color: inherit;
  margin-top: 10px;
}

.search {
  margin: 0 0 50px 3.5rem;
  align-self: flex-start;
}
.search > img {
  position: absolute;
  left: 115px;
  transform: translateY(15px);
}
.error {
  text-align: center;
  transform: translateY(20px);
  margin: 50px 0 0 300px;
}
.error h1 {
  color: rgb(181, 179, 179);
  font-size: 3rem;
}
.error button {
  padding: 10px 20px;
  border: 0;
  outline: 0;
  box-shadow: 0 0 10px 0 lightgray;
  border-radius: 10px;
  background-color: #9c9c9c;
  color: white;
  margin-top: 10px;
  font-size: 24px;
  cursor: pointer;
}

.search input {
  background-color: white;
  width: 500px;
  height: 50px;
  border: none;
  outline: none;
  box-shadow: 0 0 12px 0 lightgray;
  border-radius: 5px;
  margin-left: 40px;
  padding-left: 50px;
}
.descriptionWindow {
  width: 100%;
  height: 100%;
  background-color: white;
  position: fixed;
  z-index: 100000;
}
.backBtn {
  width: 100px;
  display: flex;
  gap: 10px;
  font-size: 16px;
  font-weight: 600;
  margin-left: 9.5rem;
  padding: 12px 15px 10px 15px;
  border: none;
  background-color: white;
  box-shadow: 0 0 20px 0 hsl(0, 0%, 80%);
  border-radius: 5px;
  font-weight: 800;
  cursor: pointer;
}

.backBtn {
  stroke: black;
}
.details {
  margin: 5% 0;
  /* height: 50%; */
  width: 100%;
  padding: 0 150px;
  display: flex;
  align-items: center;
  gap: 100px;
  background-color: hsl(0, 0%, 98%);
}
.flagBig {
  flex-basis: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  background-color: inherit;
}
.flagBig img {
  width: 500px;
  height: 350px;

  transition: box-shadow ease-in-out 0.2s, scale ease-in-out 0.2s;
}
.flagBig img:hover {
  box-shadow: 0 0 50px 0 hsl(0, 0%, 50%);
  scale: 1.07;
}
.textdetails {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  gap: 5px;
  background-color: inherit;
}
.textdetails > h1 {
  background-color: inherit;
  margin-bottom: 10px;
}
.textdetails p,
.textdetails p > b {
  margin-top: 10px;
  background-color: inherit;
}
.countryInfo {
  display: flex;
  margin-bottom: 30px;
  background-color: hsl(0, 0%, 98%);
}
.right {
  flex-basis: 50%;
  background-color: inherit;
}
.left {
  flex-basis: 50%;
  background-color: inherit;
  margin-left: 30px;
}
.borderCountries {
  background-color: hsl(0, 0%, 98%);
  display: flex;
  align-items: center;
}
.borderCountries p {
  margin-top: 0;
  font-weight: 800;
  display: inline-block;
  margin-right: 15px;
  background-color: inherit;
}
.borders {
  background-color: inherit;
  display: inline-block;
  margin-top: 10px;
}
.borderCountries button {
  padding: 10px 15px;
  border-radius: 5px;
  border: none;
  background-color: inherit;
  box-shadow: 0 0 20px 0 hsl(0, 0%, 88%);
  margin-right: 10px;
  margin-bottom: 15px;
}
.mainCardinfo {
  z-index: 1000;
  width: 100%;
  height: 100%;
  background-color: hsl(0, 0%, 98%);
  position: fixed;
  top: 0;
}
.mainCardinfo button {
  margin-top: 100px;
}
@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
